html, body
  width 100%
  height 100%
  padding 0
  margin 0

// h1
//     &.massive
//         color black
//         font-weight 900
//         font-size 6em
//         line-height .8em

// h2
//     color black
//     font-weight 500
//     font-size 1.5em



p, h2, li
  font-family "Roboto Slab", serif

// a
//     &.btn
//         &.btn-link
//             color #960DFF

// .massive
//     color black
//     font-weight 500
//     font-size 1.5em

// .big-top-margin
//     margin-top 20%

// .bold-statement
//     color #960DFF

// .home-page

// .navbar-section
//   a
//     &.navbar-brand
//         // color #FF8B0D
//         font-size 1.5em
//         font-weight 700
//         // text-decoration underline
//     &.btn
//         &.btn-link
//             // color #960DFF
//             font-size 1.25em
//             font-weight 700

// .warning
//     color red




// 'Marketplace Search' title
// https://stackoverflow.com/questions/3802218/how-do-i-combined-css-text-shadow-and-background-image-webkit-gradient 
.market-title
  position relative
  font-size 25px
  text-align center
  div
    background-image -webkit-gradient(linear, left top, left bottom, from(#0300cf), to(#f9f8ff))
    // background-image -webkit-gradient(linear, left top, left bottom, from(SlateBlue), to(PowderBlue))
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    position absolute
    width 100%
  &:after
    text-shadow 2px 2px 2px #000000
    color transparent

.gradient-shadow
  &:after
    content attr(title)




// .store-selected
//   color green


.inactive
  display none

.toast
  z-index 999999
  position absolute
  bottom 10px
