//-
//- Marketplace Layout
//-

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Marketplace PoC
    meta(name='description', content='My Marketplace')
    meta(name='keywords', content='marketplace, platform, p2p, decentralized')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet')
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    .container

      //- modal popups
      //- user popup
      #modal-user.modal(v-bind:class="{ active: isActive }")
        a.modal-overlay(href='#', v-on:click='close()', aria-label='Close')
        .modal-container(role='document')

          .modal-header
            a.btn.btn-clear.float-right(href='#', v-on:click='close()', aria-label='Close')
            .modal-title.h5 My Info

          .modal-body
            .content
              form
                .form-group
                  label.form-label(for='modal-user-name') My Name
                  input#modal-user-name.form-input(type='text', v-model='name', disabled)
                .form-group
                  label.form-label(for='modal-user-email') My Email
                  input#modal-user-email.form-input(type='text', v-model='email', disabled)
                .form-group
                  label.form-label(for='modal-user-mode') My Status
                  input#modal-user-mode.form-input(type='text', v-model='mode', disabled)
                .form-group
                  label.form-label(for='modal-user-balance') My Balance
                  input#modal-user-balance.form-input(type='text', v-model='balance', disabled)
                .form-group
                  label.form-label(for='modal-user-address') My Address
                  input#modal-user-address.form-input(type='text', v-model='address', disabled)

          .modal-footer
            a.btn.btn-primary(href='#', v-on:click='close()', aria-label='Close') Close


      //- buy popup
      #modal-buy.modal(v-bind:class="{ active: isActive }")
        a.modal-overlay(href='#', v-on:click='close()', aria-label='Close')
        .modal-container(role='document')

          .modal-header
            a.btn.btn-clear.float-right(href='#', v-on:click='close()', aria-label='Close')
            .modal-title.h5 Buying Item

          .modal-body
            .content
              form
                .form-group
                  label.form-label(for='modal-buy-name') File Name
                  input#modal-buy-name.form-input(v-model='name', type='text', disabled)

                .form-group
                  label.form-label(for='modal-buy-balance') Price
                  .has-icon-right
                    input#modal-buy-balance.form-input(v-model='price', type='text', disabled)
                    i.form-icon.icon.icon-check(style='color: green')

                .form-group
                  label.form-label(for='modal-buy-seller') Seller Address
                  .has-icon-right
                    input#modal-buy-seller.form-input(v-model='seller', type='text', disabled)
                    i.form-icon.icon.icon-emoji(style='color: green')

                .form-group
                  label.form-switch
                    input(type='checkbox', value='email', v-model='checked')
                    i.form-icon
                    | To send file to my email address

                .form-group
                  label.form-switch
                    input(type='checkbox', value='upload')
                    i.form-icon
                    | To upload file to my online account

                .form-group
                  label.form-switch
                    input(type='checkbox', value='witness')
                    i.form-icon
                    | Witness Mode

          .modal-footer
            a.btn.btn-error(href='#', v-on:click='buy()', aria-label='Buy') &nbsp;Buy&nbsp;
            a.btn.btn-primary(href='#', v-on:click='close()', aria-label='Cancel') Cancel


      //- TBD popup
      #modal-tbd.modal(v-bind:class="{ active: isActive }")
        a.modal-overlay(href='#', v-on:click='close()', aria-label='Close')
        .modal-container(role='document')

          .modal-header
            a.btn.btn-clear.float-right(href='#', v-on:click='close()', aria-label='Close')
            .modal-title.h5 {{ msg }}

          .modal-body
            .content
              | TBD

          .modal-footer
            a.btn.btn-primary(href='#', v-on:click='close()', aria-label='Close') Close


      //- top navigation bar
      #navbar.columns
        .column
          header.navbar
            .navbar-section.hide-sm
              a(v-on:click="app('home')" style='margin: 20px')
                icon(name='bank', scale='3', label='My Marketplace')
            .navbar-section.hide-sm
              a(v-on:click="modal('user')") My Info
              | &nbsp;|&nbsp;
              a(v-on:click="app('tx')") My Transactions
              | &nbsp;|&nbsp;
              a(v-on:click="app('search')") Search
              | &nbsp;&nbsp;


      //- main area
      .columns
        //- left column (hardcoded list of stores)
        #app-stores.column.col-3
          dl
            dd(v-for='(item, index) in stores', :id="item.id")
              a(:href="'?' + item.id", @click.prevent='storeSelected')
                | {{ item.name }}


        //- right column
        //- home app
        #app-home.app.column.col-9(v-bind:class="{ inactive: !isActive }")
          h2 Marketplace PoC
          ul
            li
              | List of registered online stores on the left side.
            li
              b
                | My Info
              | &nbsp;provides info about currently logged in user (buyer).
            li
              b
                | My Transactions
              | &nbsp;provides information about already executed payments.
            li
              b
                | Search
              | &nbsp;might be used for searching the products by full or partial file, different types, etc.


        //- my transactions app
        #app-tx.app.column.col-9(v-bind:class="{ inactive: !isActive }")
          | My Transactions: TBD


        //- search app
        #app-search.app.column.col-9(v-bind:class="{ inactive: !isActive }")
          .market-title.gradient-shadow(title='Marketplace Search')
            div Marketplace Search

          .input-group
            span.input-group-addon Search for:
            input.form-input(style='width: unset', type='text', placeholder='type full or partial file name or #hashtag')
            button.btn.btn-primary.input-group-btn(@click="$bus.$emit('open-modal-tbd', 'Search')") &nbsp;Go!&nbsp;

          .form-group
            label.form-label By File Types:
            label.form-radio
              input(type='radio', name='file-type', checked='')
              i.form-icon
              | All
            label.form-radio
              input(type='radio', name='file-type')
              i.form-icon
              | Images
            label.form-radio
              input(type='radio', name='file-type')
              i.form-icon
              | Videos
            label.form-radio
              input(type='radio', name='file-type')
              i.form-icon
              | Audios
            label.form-radio
              input(type='radio', name='file-type')
              i.form-icon
              | Archives (ZIP, etc)


        //- files app
        #app-files.app.column.col-9(v-bind:class="{ inactive: !isActive }")
          h5
            b
              | {{ storeName }}
            | &nbsp;&nbsp;
            a(href='#', @click.prevent="storeComments()", title="Store Comments")
              icon(name='commenting', scale='2', label="Store Comments")
            | &nbsp;&nbsp;
            a(href='#', @click.prevent="storeRating()", title='Store Rating')
              icon(name='star', scale='2', label='Store Rating')
            | &nbsp;&nbsp;
            a(href='#', @click.prevent="storePreview()", title='Store View')
              icon(name='eye', scale='2', label='Store View')

          table.table.table-striped.table-hover
            thead
              tr
                th File Name
                th File Type
                th Created
                th Size
                th Price
                th Actions
            tbody
              tr(v-for='(item, index) in files', :id="item.id")
                td
                  | {{ item.name }}
                td
                  a(href='#', :title='item.mime')
                    icon(:name='item.type', scale='2', :label='item.mime')
                td
                  | {{ item.ts }}
                td
                  | {{ item.size }}
                td
                  | {{ item.price }}
                td
                  .popover.popover-left
                    button.btn.btn-link
                      icon(name='bars', scale='2', label='Actions')
                    .popover-container
                      .card
                        .card-body
                          | &nbsp;&nbsp;
                          a(href='#', @click.prevent="fileBuy", title='Buy')
                            icon(name='shopping-cart', scale='2', label='Buy')
                          | &nbsp;&nbsp;
                          a(href='#', @click.prevent="fileComments", title="Product Comments")
                            icon(name='commenting', scale='2', label="Product Comments")
                          | &nbsp;&nbsp;
                          a(href='#', @click.prevent="fileRating", title='Product Rating')
                            icon(name='star', scale='2', label='Product Rating')
                          | &nbsp;&nbsp;
                          a(href='#', @click.prevent="filePreview", title='Product View')
                            icon(name='eye', scale='2', label='Product View')
                          | &nbsp;&nbsp;



    //- toast notifications
    #toast.toast(v-bind:class="{ inactive: !isActive, 'toast-success': isSuccess, 'toast-error': !isSuccess }")
      button.btn.btn-clear.float-right
      span
        | {{ msg }}


    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript', src='/js/app.js')
    script.
      require('index')
